<!-- wp:template-part {"slug":"header","theme":"import-export-company","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"import-export-company/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"import-export-company/project-section"} /-->
<!-- wp:pattern {"slug":"import-export-company/about-us-section"} /-->
<!-- wp:pattern {"slug":"import-export-company/testimonials-section"} /-->
<!-- wp:pattern {"slug":"import-export-company/faq-section"} /-->
<!-- wp:pattern {"slug":"import-export-company/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"import-export-company","tagName":"footer"} /-->